<div role="navigation" id="{{id}}" class="{{class}}" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label">
    <h3 id="{{id}}-label" class="hidden" {{{html-user-language-attributes}}}>{{label}}</h3>
    <div class="mw-portlet-body-notifs">
        <ul {{{html-user-language-attributes}}}>
            {{#array-items}}{{>NotifAreaItem}}{{/array-items}}
        </ul>
        {{{html-after-portal}}}
    </div>
</div>
