<div role="navigation" id="{{id}}" class="{{class}} mw-tabs gap-2" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label">
    <h3 id="{{id}}-label" class="hidden" {{{html-user-language-attributes}}}>{{label}}</h3>

	{{#array-items}}{{>Tab}}{{/array-items}}
	{{{html-after-portal}}}
</div>
